# Secrets
.env
*.creds
.env:Zone.Identifier

# Python garbage
__pycache__/
*.py[cod]
*$py.class
venv/
.pytest_cache/

# Runtime data
data/
parse_history.json
*.log
*.sql

# Tools & Dev
*_readme.py
docker-compose.sandbox.yml
.pytest_cache/
